node_modules/
*.egg-info
build/
dist/
*.pyc
npm-debug.log
*calculate_levels_private.py
swagger_client.py
.env
.venv
__pycache__
market_commands.py
voice_alert.py
*make_trades_private.py
*graph.png
test.py
test2.py
risk_manage.py
audio.mp3
first_figure.html
